# docker compose file for projects frontend, backend - used for building images
# used by github actions (.github/workflows/car-demo-prod.yml)
# uses config file .env

version: '3.8'
name: car-demo

services:

  backend:
    # if we use both args image and build, then image is the name of the built image (default name of image is car-demo-backend:latest)
    # context "../.." means, that docker sends into the build the whole repository (backend, common, frontend, run-env, ...)
    # and in Dockerfile we work with this whole context (we need to run install on whole pnpm workspace)
    image: chilibase/car-demo:backend-1.0.0
    build:
      context: ../../backend
      dockerfile: Dockerfile

  frontend:
    # if we use both args image and build, then image is the name of the built image (default name of image is car-demo-frontend:latest)
    # context "../.." means, that docker sends into the build the whole repository (backend, common, frontend, run-env, ...)
    # and in Dockerfile we work with this whole context (we need to run install on whole pnpm workspace)
    image: chilibase/car-demo:frontend-1.0.0
    build:
      context: ../../frontend
      dockerfile: Dockerfile
      args:
        # these env variables must be also in frontend Dockerfile written (are needed during build (before run))
        - VITE_BACKEND_URL=${VITE_BACKEND_URL}
        - VITE_AUTH=${X_AUTH}
        - VITE_AUTH_OFF_USERNAME=${VITE_AUTH_OFF_USERNAME}
        - VITE_AUTH0_DOMAIN=${X_AUTH0_DOMAIN}
        - VITE_AUTH0_CLIENT_ID=${VITE_AUTH0_CLIENT_ID}
        - VITE_AUTH0_AUDIENCE=${X_AUTH0_AUDIENCE}
        #- BROWSER=none
